.divimg{
    background-image: url('image/backdiv.png');
    width: 100%;
    height: 500px;
}

body, html{
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #424242;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #424242;
  }


